color-1 = #c4801f
color-2 = #b6c493
color-3 = #decc80
color-4 = #c83018
color-5 = #070200

body
  background-img url('http://th00.deviantart.net/fs71/PRE/i/2012/279/8/b/8_bit_1_up_mushroom_by_toshirofrog-d5h0uvi.png')
