@font-face
  font-family "8-Bit-Madness"
  src url(../8-Bit-Madness.ttf)

color-1 = #c4801f
color-2 = #b6c493
color-3 = #decc80
color-4 = #c83018
color-5 = #070200

body.eight-bit
  background-color color-1
  color color-2
  cursor url(../nat927.png), auto
  font-family "8-Bit-Madness"

  #header
    background-color color-1
