@font-face
  font-family "8-Bit-Madness"
  src url(../8-Bit-Madness.ttf)

color-1 = #c4801f
color-2 = #b6c493
color-3 = #decc80
color-4 = #c83018
color-5 = #070200

body.eight-bit
  background-color color-1
  color color-2
  cursor url(http://www.rw-designer.com/cursor-view/7069.gif), auto
  font-family "8-Bit-Madness"

  #header, #mobile-nav
    background-color color-1
    color color-2

  a
    color color-2

  ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, body, html, p, blockquote, fieldset, input, iframe, img
    font-family "8-Bit-Madness"

  #banner
    .banner-content
      background-image url(https://pbs.twimg.com/media/B5MlRY6CAAAiKxR.png)
      background-repeat no-repeat

  #wsite-content h2
    font-size 4em
