color-1 = #c4801f
color-2 = #b6c493
color-3 = #decc80
color-4 = #c83018
color-5 = #070200

body.rick-roll
  background-color color-3
  color color-4
  font-family Arial, Helvetica, sans-serif

  #header, #mobile-nav
    background-color color-3
    color color-4

  a
    color color-3

  ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, body, html, p, blockquote, fieldset, input, iframe, img
    font-family Arial, Helvetica, sans-serif
