@font-face {
  font-family: "8-Bit-Madness";
  src: url("8-Bit-Madness.ttf");
}
body.eight-bit {
  background-color: #FE0000;
  color: #FFE503;
  cursor: url("http://www.rw-designer.com/cursor-view/7069.gif"), auto;
  font-family: "8-Bit-Madness";
}
body.eight-bit #header,
body.eight-bit #mobile-nav {
  background-color: #49FD01;
  color: #FE9EBB;
}
body.eight-bit a {
  color: #FF7E00;
}
body.eight-bit ul,
body.eight-bit ol,
body.eight-bit li,
body.eight-bit h1,
body.eight-bit h2,
body.eight-bit h3,
body.eight-bit h4,
body.eight-bit h5,
body.eight-bit h6,
body.eight-bit pre,
body.eight-bit form,
body.eight-bit body,
body.eight-bit html,
body.eight-bit p,
body.eight-bit blockquote,
body.eight-bit fieldset,
body.eight-bit input,
body.eight-bit iframe,
body.eight-bit img {
  font-family: "8-Bit-Madness";
}
body.eight-bit #banner .banner-content {
  background-image: url("https://pbs.twimg.com/media/B5MlRY6CAAAiKxR.png");
  background-repeat: no-repeat;
  background-size: cover;
}
body.eight-bit #wsite-content h2 {
  font-size: 4em;
}
