@font-face
  font-family "kitty-font"
  src url(caty.ttf)

color-1 = #36FBCD
color-2 = #FB3664
color-3 = #f1f1f1

body.kitty
  background-color color-1
  color color-2
  cursor url(nyanCursor.png), auto
  font-family "kitty-font"

  #header, #mobile-nav
    background-color color-1
    color color-2

  a
    color color-3

  ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, body, html, p, blockquote, fieldset, input, iframe, img
    font-family "kitty-font"

  #banner
    .banner-content
      background-image url(http://i.imgur.com/hcKkHLV.jpg)

  #wsite-content h2
    font-size 4em
